@using PMSWebApplication.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project Management System", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    @if (User.Identity.IsAuthenticated)
                    {


                        if (User.IsInRole(ApplicationUserRoles.Administrator))
                        {                       
                            <li>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">@Html.ActionLink("Projects", "Index", "Projects")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Task", "Index", "Task")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("PriorityLists", "Index", "PriorityLists")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Attachments", "Create", "Attachments")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Updates", "Create", "Updates")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("BugFixes", "Create", "BugFixes")</a></li>
                                                <li class="divider"></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown ">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Payment<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">@Html.ActionLink("Add Payments", "Index", "Payments")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Upcoming Payments", "UpcommingPayments", "Payments")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Due Payments", "Duepayment", "Payments")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Task Wise Payments", "Taskwisepayment", "Payments")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Total Payments", "TotalPayment", "Payments")</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown ">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">@Html.ActionLink("Payment History Report", "PaymentHistoryReport", "Reporting")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Due Amount Report", "DueAmountReport", "Reporting")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Time Base Report", "MonthlyReport", "Reporting")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Upcoming Payment Report", "UpcomingPaymentReport", "Reporting")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Project Status Report", "ProjectStatusReport", "Reporting")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Task Status Report", "TaskStatusReport", "Reporting")</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">@Html.ActionLink("Deadline List Report", "DeadlineListReport", "Reporting")</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Client<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">@Html.ActionLink("Client Contact list", "Index", "Client Contact list")</a></li>
                                                <li class="divider"></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        }

                        if (User.IsInRole(ApplicationUserRoles.Client))
                        {




                        }
                        if (User.IsInRole(ApplicationUserRoles.Employee))
                        {



                        }

                    }


                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Project Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
