@model IEnumerable<PMSWebApplication.Models.DueAmountReport>
@{
    ViewBag.Title = "DueAmountReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:rgba(150, 199, 201, 0.65)">
    <h2 class="col-md-6">Due Amount Report</h2>
</div>

    @*<div class="row" style="margin-top:20px">
        <div class="col-xs-6 col-lg-3" style="padding-left:15px">
            @Html.DropDownList("ProjectId", null, "All Projects", htmlAttributes: new { @class = "form-control", @selected = "-1", @id = "pId2" })

        </div>
        <div>
            <button type="button" class="btn btn-warning" onclick="downloadReport()"> Download Report </button>
        </div>
    </div>
*@


@*<div class="row" style="margin-bottom:15px">
    <div class="col-xs-6 col-lg-3" style="padding-left:15px">
        @Html.DropDownList("ProjectId", null, "All Projects", htmlAttributes: new { @class = "form-control", @selected = "-1", @id = "pId" })

    </div>
    <div class="">
        <input class="btn btn-success" type="button" value="Search" onclick="getObjId()" />

    </div>
</div><br />*@


<br />
    <div>
        <button type="button" class="btn btn-warning"> @Html.ActionLink("Download Report", "ExportDueAmountReport", "Reporting", new { @class = "btn btn-primary" }, null) </button>
    </div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PayDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayDate)
            </td>
            @*<td>
                @Html.DisplayNameFor(model => model.ClientName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
        </tr>
    }
</table>


<script>
        function getObjId() {

            var val = document.getElementById("pId").value;
            url = '@Url.Action("DueAmountReport", "Reporting" )' + '/';
            var ul = url.slice(0, 27) + '/' + val;

            window.location.replace(ul);
        }


        function downloadReport() {
            var val = document.getElementById("pId2").value;
            url = '@Url.Action("ExportDueAmountReport", "Reporting" )' + '/';
            var ul = url.slice(0, 33) + '/' + val;

            window.location.replace(ul);
        }

</script>

