@model IEnumerable<PMSWebApplication.Models.PriorityReport>
@{
    ViewBag.Title = "PriorityReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:rgba(150, 199, 201, 0.65)">
    <h2 class="col-md-6">Piority Report</h2>

    <div class="row" style="margin-top:20px">
        <div class="col-xs-6 col-lg-3" style="padding-left:15px"></div>
    </div>
</div>

<br />

<div>
    <button type="button" class="btn btn-warning" onclick="downloadReport()"> Download Report </button>
</div>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorityNo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityNo)
            </td>
        </tr>
    }
</table>



