@model IEnumerable<PMSWebApplication.Models.TaskStatusReport>
@{
    ViewBag.Title = "TaskStatusReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:rgba(150, 199, 201, 0.65)">
    <h2 class="col-md-6">Task Status Report</h2>

    <div class="row" style="margin-top:20px">
        <div class="col-xs-6 col-lg-3" style="padding-left:15px">
            @Html.DropDownList("ProjectId", null, "All Projects", htmlAttributes: new { @class = "form-control", @selected = "-1", @id = "pId2" })

        </div>
        <div>
            <button type="button" class="btn btn-warning" onclick="downloadReport()"> Download Report </button>
        </div>
    </div>
</div>

<br />
<div class="row" style="margin-bottom:15px">
    <div class="col-xs-6 col-lg-3" style="padding-left:15px">
        @Html.DropDownList("ProjectId", null, "All Projects", htmlAttributes: new { @class = "form-control", @selected = "-1", @id = "pId" })

    </div>
    <div class="">
        <input class="btn btn-success" type="button" value="Search" onclick="getObjId()" />

    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
        </tr>
    }
</table>
