@model IEnumerable<PMSWebApplication.Models.UpcomingPaymentReport>
@{
    ViewBag.Title = "UpcomingPaymentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:rgba(150, 199, 201, 0.65)">
    <h2 class="col-md-6">Upcoming Payment Report</h2>

    <div class="row" style="margin-top:20px">
        <div class="col-xs-6 col-lg-3" style="padding-left:15px"></div>
    </div>
</div>

<br />

<div>
    <button type="button" class="btn btn-warning" onclick="downloadReport()"> Download Report </button>
</div>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskStages)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.TotalPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>*@      
        </tr>
    }

</table>


